<html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>Create a new list</h1>
                <p <a href="{% url 'todo_list_create' item.id %}">>Create a new list</p>
                    <table>

                        <form method="post">
                            <input type="text", name="name"/>
                            <button>Create</button>
                        </form>
                    </table>
            </div>
        </main>

    </body>
</html>
