
<html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">
                    <a href="{% url 'todo_item_create' %}">
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                            <th>{{ todolist }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{% for todo in todo_lists %}}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todo.pk %}">{{ todo.name }}</a>
                            </td>
                            <td>
                            {{ todolist.items.all|length }}
                            </td>
                        </tr>
                        {{% endfor %}}
                    </tbody>
                </table>
            </div>
        </main>

    </body>
</html>
